.reportBtn{
    min-height: 34px;
    background: #ff0000;
    border: none;
    width: 85%;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    margin-left: 10px;
}

.helpImg{
    width: 50px;
}