.RSPBprogressBar {
    height: 10px;
    line-height: 1;
    border-radius: 10px;
    position: relative;
    background-color: rgba(211, 211, 211, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 0; }
    .RSPBprogressBar .RSPBstep {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      z-index: 0;
      position: absolute;
      transform: translateX(-50%);
      transition-property: all;
      transition-timing-function: ease; }
    .RSPBprogressBar .RSPBprogressBarText {
      color: white;
      font-size: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .RSPBprogressBar .RSPBprogression {
      position: absolute;
      transition: width 0.3s ease;
      left: 0;
      top: 0;
      bottom: 0;
      border-radius: 10px;
      background: rgba(0, 116, 217, 0.8);
      z-index: -1; }
  


.RSPBprogression .ar{
    right: 0 !important;
}

.RSPBstep .ar{
    right: 0 !important;
}

@media (max-width: 540px) {

        .RSPBstep{
            transform: rotate(-90deg) !important;
        }

        .progress-row{
            transform: rotate(90deg) !important;
            position: absolute;
            left: 40%;
            top: 35%;
            margin-top: -2.5rem !important;
        }

        .wrapper{
            width: 70% !important;
            margin-left: 10px !important;
        }

        .state-desc{   
            top: 0 !important;
            right: 30px;
            font-size: 10px !important;
        }
    
    
}

.state-desc{
    position: absolute;
    top: 25px;
    color: black;
}

.state-desc{
    .wrap{
        white-space: nowrap;
    }
}

.time{
    line-break: anywhere;
}